<div class="container-profile">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre del profesor</mat-card-title>
      <mat-card-subtitle>correo electronico</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="rounded mx-auto d-block" src="https://lh3.googleusercontent.com/proxy/2000VHyY1rzTYzI5wGAlhqK6fvBtHsdxn-saaJNO8GXuN5ZSvoK0xAs1VW5bP0nRQ5U--te7t2nfyYgnlKrkG6wEZo-AKUO3Qn5tmMYIF4wqosFGIm4-ypMQj8k7">
      <div class="profile-options">
        <a href="#">Editar perfil</a>
        <a href="#">Salir de la sesion</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
